<mat-sidenav-container class="sidenav-container">
  <!-- Menu lateral -->
  <mat-sidenav
    #drawer [opened]="menuOpened()"
    (openedChange)="onOpenedChange($event)"
    mode="over"
    class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" (click)="drawer.close()">
        Dashboard
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Clientes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/cliente" (click)="drawer.close()">
            Listar Clientes
          </a>
          <a mat-list-item routerLink="/cliente/novo" (click)="drawer.close()">
            Novo Cliente
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/conta" (click)="drawer.close()">
            Listar Contas
          </a>
          <a mat-list-item routerLink="/conta/nova" (click)="drawer.close()">
            Nova Conta
          </a>
          <a mat-list-item routerLink="/conta/saque" (click)="drawer.close()">
            Saque
          </a>
          <a mat-list-item routerLink="/conta/deposito" (click)="drawer.close()">
            Depósito
          </a>
          <a mat-list-item routerLink="/conta/transferencia" (click)="drawer.close()">
            Transferência
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <a
        mat-list-item
        (click)="drawer.close(); logout()"
        (keydown.enter)="drawer.close(); logout()"
        (keyup.space)="drawer.close(); logout()"
        tabindex="0"
        >
        Sair
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Toolbar principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">SystemBank</span>
      <img src="assets/logo-icon.png" width="25px" alt="SystemBank">
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
